
body{
	color: white;
	background-color: black;
}

h1,h2{
	text-align: center;
	font-family: "Arial", Sans-serif;
}

ul{
  padding-left: 1em;
}

div{
	text-align: center;
}

.leftAligned{
	text-align: left;
}

.menuColored{
	background-color: #4355A6;
}

.arrowColored{
	background-color: #50588e
}


.red{
	background-color: red;// add the clear and backspace color here
}

// and so on for all button colors