
body{
	color: white;
	background-color: black;
}

h1,h2{
	text-align: center;
	font-family: "Arial", Sans-serif;
}

ul{
  padding-left: 1em;
}

div{
	text-align: center;
}

.leftAligned{
	text-align: left;
}

.menuColored{
	background-color: #4355A6;
}

.arrowColored{
	background-color: #50588e;
}

.red{
	background-color: #860b0b;
}

.orange{
	background-color: #c67f16;
}

.darkBlue{
    background-color: #e5001ac1;
}

.lightBlue{
    background-color: #375f89;
}

.grey{
    background-color: #7e7f80;
}

.white{
    color: black;
    background-color: #d4d3d3;
}

.green{
    background-color: #e6008b35;
}
